.card{
  width: 330px;
  height: 620px;
  margin: 5% auto;
  border-radius: 15px;
  border: 1px solid $gold;
  background: transparent;
  transition: 0.2s;
  &:hover{
    background: rgba(grey, .30);
    box-shadow: $box-shadow;
    color: #0b2e13;
    transition: 0.2s;
  }
  img{
    max-width: 300px;
    margin: auto;
  }
  *{
    color: $white;
    text-align: center;
  }

}