.form-group {
    color: white;

   input {
     background-color: black;
   }
}

button {
  background-color: black;
  margin-top: 50px;
}
.contact {
  @media (max-width: 1200px){
  transform: rotate(0deg);
    font-size:3em;
    @include float-none;
    margin-top: 50px;
    margin-left:0px;
}
  transform: rotate(90deg);
  margin-top: 300px;
  margin-left:-150px;
  @include float-left;
  text-align: center;
  color: white;
  font-size:5em;

}

.container {
  margin-top:150px;
}
 .ligne-bas {
   margin-top:250px;
 }