.form-group {
    color: white;

   input {
     background-color: black;
   }
}

button {
  background-color: black;
  margin-top: 50px;
}
.contact {
  transform: rotate(90deg);
  margin-top: 300px;
  margin-left:-300px;
  @include float-left;
  text-align: center;
  color: white;
  font-size: 7em;
}

.contact {

}

.container {
  margin-top:90px;
}