a {
  .gear {
    width: 1.5rem;
    animation: rotate infinite 40s linear;
    transition: all .5s ease;
    vertical-align: center;
  }

  &:hover {
    .gear {
      animation: rotate infinite 1s linear;
      transition: all .5s ease;
    }
  }
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(1turn);
  }
}