
.align-content-center {
  margin-bottom: 20px;
  font-size: 1.5rem;
  display: block;
  text-align: center !important;

  .golden {
    animation: pulse 3s infinite linear;
    text-transform: uppercase;
  }

  @keyframes pulse {
    0% {
      color: $gold;
    }
    50% {
      color: #FFFB6F;
    }
    100%{
      color: $gold;
    }
  }
}