.politique {
  text-align: center;
h2 {
  font-family: "Baskerville Old Face";
}
  a{
    font-family: "Baskerville Old Face";
  }
  h3{
    font-family: "Baskerville Old Face";
  }
  p{
    font-family: "Baskerville Old Face";
  }
}