 li {
    min-width: 50px;
  }

  li a {
    text-decoration: none;
    line-height: 50px;
    padding: -10px;
    text-align: center;
    font-size: 1.3em;
    color: $gold;
    text-transform: uppercase;
  }

  li:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

  li:hover:after {
    width: 90%;
    background: $gold;
  }

  .nav-link {
    padding: 0;
  }

  .dropdown-item {
    color: $white;

    &:hover {
      background-color: #6f6f6f;
      color: $gold;
    }
  }

  .item-category {
    color: $gold;
    font-weight: bold;

    &:hover {
      color: $white;
    }
  }

  .dropdown-menu {
    background-color: #6f6f6f;
  }
.navbar{
  box-shadow: 0 -1px 4px 0 rgba(255,255,255,0.15);
}

.nav-item:last-child{
  margin-left: 5px;
  border-radius: 50px;
  border: $gold 1px solid;
  transition: .2s ease;
  &:hover{
    border: $white 1px solid;
    transition: .2s ease;
  }
  &:hover:after {
    width: 0;
    background: transparent;
  }
  .nav-link{
    color: $gold !important;
  &:hover{
    color: $white !important;
  }
  }
}